body {
 background-color: #4351ab;

}

#title {
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  font-family: "Secular One";
}

#cat-image {
  margin: 0px auto 0px auto;
  display: block;
}

.container {
  width: 50%;
  margin: 20px auto 20px auto;
  display: block;
}

.description {
  text-align: center;
  padding-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto";
}

#tip0 {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto";
}

#tip1 {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto";
}

#input {
  margin: 10px auto 10px auto;
  display: block;
  width: 200px;
  height: 50px;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  border-color: #f7f7f7;
  font-size: 20px;
}

#button-guess {
  margin: 20px auto 20px auto;
  display: block;
  padding: 20px;
  font-weight: bold;
  background-color: #f7f7f7;
  border: none;
  border-radius: 10px;
}

#button-guess:hover {
  margin: 20px auto 20px auto;
  display: block;
  padding: 20px;
  font-weight: bold;
  background-color: #e0e4ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}
